<div class="authentication-form">
<%= form_for @user do |form| %>
  <div class="authentication-element">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="authentication-element">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div class="authentication-element">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div id="authentication-button">
    <%= form.submit "Sign up" %>
  </div>
<% end %>
</div>
