
<div class="form-container">
  <div class="form-content">
    <%= form_for @text_subject do |form| %>
      <%= form.text_area :body, placeholder: "Compose new shout" %>
    <%= form.submit "Shout!" %>
  <% end %>
  </div>

  <div class="form-content">
    <%= form_for @image_subject do |form| %>
      <%= form.text_area :url, placeholder: "URL of image" %>
    <%= form.submit %>
  <% end %>
  </div>
</div>
<div class="dashboard-container">
  <div class="dashboard">
    <h2>Dashboard</h2>
    <ul>
      <%= render @shouts %>
    </ul>
    <%= paginate @shouts%>
  </div>
</div>
