<%= link_to current_user.username, current_user %>

<%= link_to "Followering", :following %>
<%= link_to "Followers", :followers %>

<%= form_for @text_subject do |form| %>
  <%= form.text_area :body, placeholder: "Compose new shout" %>  
  <%= form.submit "Shout!" %>
<% end %>
<%= form_for @image_subject do |form| %>
  <%= form.text_area :url, placeholder: "URL of image" %>
  <%= form.submit %>
<% end %>

<div>
  <h2>Dashboard</h2>
  <ul>
    <%= render @shouts %>
  </ul>
  <%= paginate @shouts%>
</div>
